/* BOdy */
body {
    background: linear-gradient(to left,  #B0DAFF, #B9E9FC, #DAF5FF);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 200;
}

header {
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    transition: background-color 0.3s ease;
    background: linear-gradient(to left,  #B9E9FC, #DAF5FF);

}

.header.bg-scroll {
    background: linear-gradient(to left, #B0DAFF, #B9E9FC, #DAF5FF);
}

header img.logo {
    height: 4rem;
}

ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    padding: 0;
}

ul li {
    margin-right: 10px;
}

ul a {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 400;
    font-size: .9rem;
    padding: 0.3rem .6rem;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid transparent;
}

ul a:hover {
    background-color: #DAF5FF;
    color: #1266f1;
    box-shadow: 0 0 10px rgba(33, 110, 236, 0.5);
}

header button.registration {
    background-color: #1266f1;
    font-size: 0.7rem;
    color: white;
    font-weight: bold;
    padding: 0.5em 0.5rem;
    height: 3rem;
    width: 8rem;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 2rem;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    min-height: 450px;
    background: linear-gradient(to left, #FFCDEA, #E1AFD1, #AD88C6, #7469B6);
    padding-top: 60px;
    transition: right 0.3s ease;
    overflow-y: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar.show {
    right: 0;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    display: block;
}

.sidebar ul li {
    border-bottom: 1px solid #555;
    display: block;
}

.sidebar ul li:last-child {
    border-bottom: none;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #DAF5FF;
    color: #1266f1;
    box-shadow: 0 0 10px rgba(33, 110, 236, 0.5);
}

.sidebar .registration {
    background-color: #1266f1;
    font-size: 0.7rem;
    color: white;
    font-weight: bold;
    padding: 0.5em 0.5rem;
    height: 3rem;
    width: 8rem;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 2rem;
    display: block;
    clear: both;
}

@media screen and (min-width: 930px) {

    .hamburger,
    .close-sidebar {
        display: none;
    }

}

@media screen and (max-width: 930px) {
    .close-sidebar {
        display: block; /* Display the close icon on smaller screens */
    }

    header {
        padding-right: 40px;
    }

    ul li a {
        display: none;
    }

    .registration {
        display: none;
    }

    .hamburger {
        display: block;
        position: fixed;
        top: 10px;
        right: 5vh;
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    .sidebar {
        right: -100%;
    }

    .sidebar.show {
        right: 0;
        background-color: #050026;
        z-index: 2000;
    }

    .sidebar.show ul li a {
        display: block;
    }

    .close-sidebar {
        display: none; /* Initially hide the close icon */
        position: fixed;
        top: 10px;
        right: 5vh;
        background: none;
        border: none;
        color: #ffffff;
        font-size: 24px;
        cursor: pointer;
        z-index: 1005; /* Ensure close icon appears above other elements */
    }
    

    .sidebar.show .registration {
        display: block;
        position: relative;
        top: 0;
        margin-top: 20px;
        margin-left: 1rem;
    }

}

/* ************************************************************** */
.headline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.heading{
    width: 50vw;
    margin-top: 5vh;
}

.heading h1{
    font-size: 7vw;
}


.img img {
    height: 30vw;
    padding: 3vw;
    margin-top: 4vh;
}


.cardsdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .card {
    /* width: calc(33.33% - 20px);  */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    height: 20rem;
    width: 20rem;
  }

  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .card img {
    width:8rem;
    display: block;
    margin-left: 5rem;
    margin-top: 2rem;
  }

  .card-content {
    padding: 20px;
  }
/* ************************************************************** */

/* Footer */
footer {
    background-color: #B9E9FC;
    color: #0b0b0b;
    margin-top: 20vh;
    padding: 20px;
    /* position: fixed; */
    /* margin-top: 5vh; */
    left: 0; 
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    bottom: 0;
    margin-bottom: 0;
}

.footer-column {
    width: 25%;
    padding: 20px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links li a {
    color: #0b0b0b;
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    color: #0b0b0b;
    margin: 0 10px;
}

.social-icons a img {
    width: 30px;
    height: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-column {
        width: 50%;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
}


