body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #ddd;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
}

.product>img {
    max-width: 50%;
}

.price {
    font-weight: bold;
    color: #007bff;
}

.buy-now {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.buy-now:hover {
    background-color: #0056b3;
}

.search-box {
    margin-top: 10px;
}

.search-box input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-box button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

.search-box button:hover {
    background-color: #45a049;
}

.login {
    margin-top: 50px;
    text-align: center;
}

.login form {
    display: inline-block;
}

.login label {
    display: block;
    margin-bottom: 5px;
}

.login input[type="text"],
.login input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.login button:hover {
    background-color: #0056b3;
}

.floating-banner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
}

.signup {
    margin-top: 50px;
    text-align: center;
}

.signup form {
    display: inline-block;
}

.signup label {
    display: block;
    margin-bottom: 5px;
}

.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.signup button:hover {
    background-color: #0056b3;
}